<h3>fill the form to Log In</h3>
<form [formGroup]="form">
  <!-- <div>
    <label for="email">Email Address</label>
    <input type="email"
           id="email"
           name="email"
           formControlName="email"
           placeholder="Your email address"
           [attr.aria-invalid]="hasError('email')">
    <small *ngIf="mustShowMessage('email')">{{ getErrorMessage('email') }} </small>
  </div> -->
  <stk-email formControlName="email"></stk-email>
  <div>
    <label for="password">Your password </label>
    <input type="password"
           id="password"
           name="password"
           formControlName="password"
           placeholder="Your password"
           [attr.aria-invalid]="hasError('password')">
    <small *ngIf="mustShowMessage('password')">{{ getErrorMessage('password') }} </small>
  </div>
  <input type="button"
         [disabled]="form.invalid"
         value="Log me In"
         (click)="onSave()">
</form>
<pre>Is Dirty: {{ isDirty }}</pre>
<pre>Can Deactivate: {{ !isDirty }}</pre>
