<h3>fill the form to Log In</h3>
<form [formGroup]="form">
  <stk-template formControlName="name"
                [control]="getControl('name')"
                type="text"
                label="Your nick name">
  </stk-template>
  <stk-email formControlName="email"></stk-email>
  <stk-template formControlName="password"
                [control]="getControl('password')"
                type="password"
                label="Your password"></stk-template>
  <stk-template formControlName="confirmPassword"
                [control]="getControl('confirmPassword')"
                type="password"
                label="Confirm the password"></stk-template>
  <small>{{ getPasswordMatchMessage()}}</small>
  <div>
    <input type="checkbox"
           id="acceptTerms"
           name="acceptTerms"
           formControlName="acceptTerms"
           [attr.aria-invalid]="hasError('acceptTerms')">
    <label for="acceptTerms">Accept Terms </label>
    <small *ngIf="mustShowMessage('acceptTerms')">{{ getErrorMessage('acceptTerms') }} </small>
  </div>
  <input type="button"
         [disabled]="form.invalid"
         value="Log me In"
         (click)="onSave()">
</form>
