<stk-response [response$]="agencies$"
              name="Agencies"
              [dataTemplate]="agenciesTemplate"
              (reload)="loadAgencies()">
</stk-response>
<ng-template #agenciesTemplate
             let-context>
  <stk-agencies-list [agencies]="context"></stk-agencies-list>
</ng-template>

<stk-response [response$]="trips$"
              name="Trips"
              [dataTemplate]="tripsTemplate"
              (reload)="loadTrips()">
</stk-response>
<ng-template #tripsTemplate
             let-context>
  <stk-trips-list [trips]="context"></stk-trips-list>
</ng-template>
