<stk-response [response$]="agencies$"
              name="Agencies"
              [dataTemplate]="agenciesTemplate"
              (reload)="loadAgencies()">
</stk-response>
<ng-template #agenciesTemplate
             let-context>
  <ul>
    <li *ngFor="let agency of context">
      {{ agency.name }} - {{ agency.range }} - {{ agency.status }}
    </li>
  </ul>
</ng-template>

<stk-response [response$]="trips$"
              name="Trips"
              [dataTemplate]="tripsTemplate"
              (reload)="loadTrips()">
</stk-response>
<ng-template #tripsTemplate
             let-context>
  <table>
    <thead>
      <th>Destino</th>
      <th>Plazas</th>
    </thead>
    <tr *ngFor="let trip of context">
      <td>{{ trip.destination }}</td>
      <td>{{ trip.places }}</td>
    </tr>
  </table>
</ng-template>
